:host {
  display: block;
  padding: 1rem;
}

.type {
  color: var(--muted-text);
  font-style: italic;
}
.tags span {
  margin-right: 0.5rem;
  background: var(--accent-color);
  padding: 0.2rem 0.4rem;
}
.content {
  margin-top: 1rem;
}
